footer
{
    font-family: 'Roboto Light', sans-serif;

    overflow: hidden;

    padding-top: 140px;
    padding-bottom: 145px;

    color: #fff;
    background-color: #2a2c2d;
}

.copyright
{
    float: left;

    max-width: 340px;
}

footer h1
{
    margin-bottom: 25px;

    text-align: left;

    color: #fff;
}

footer .text-copyright
{
    line-height: 1.3em;
    margin-top: 20px;
    margin-bottom: 55px;
    color: rgb(163, 164, 167);
}

.links
{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;

    float: right;

    width: 145px;
}

footer a
{
    line-height: 35px;

    display: block;
    float: none;

    width: 100%;

    color: rgb(163, 164, 167);
}

footer a:hover {
    text-decoration: underline;
}

.social
{
    font-family: 'Roboto Light', sans-serif;

    float: right;

    width: 320px;
}

.social h3,
.social a
{
    padding-left: 45px;

    background-repeat: no-repeat;
}

.social a
{
    line-height: 50px;
}

.vkontakte
{
    background-image: url('../img/vk.png');
    background-position: left center;
}

.facebook
{
    background-image: url('../img/facebook.png');
    background-position: 5px center;
}

.twitter
{
    background-image: url('../img/twitter.png');
    background-position: left center;
}
