header
{
    position: relative;
}

header nav
{
    position: absolute;

    display: none;
    right: 50px;
    background: rgba(0,0,0, .5);
}
header nav a
{
    float: none;

    width: 100%;
}

header input[type='checkbox']
{
    display: none;
}

header input[type='checkbox']:checked ~ nav
{
    display: block;
}

header input[type='checkbox']:checked ~ .menu:after
{
    width: 25px;

    transform: translateX(5px) rotate(-45deg);
    transform-origin: bottom left;
}

header input[type='checkbox']:checked ~ .menu:before
{
    width: 25px;

    transform: translateX(5px) rotate(45deg);
    transform-origin: top left;
}

header input[type='checkbox']:checked ~ .menu > .menu-line
{
    visibility: hidden;
}

header label[for='mobile-menu']
{
    position: absolute;
    z-index: 1000;
    top: 50%;

    width: 40px;
    height: 40px;
    margin-top: -20px;

    cursor: pointer;

    background-color: transparent;
}

.menu
{
    position: absolute;
    top: 50%;
    right: 10px;

    float: right;

    width: 40px;
    height: 40px;
    margin-top: -20px;

    cursor: pointer;

    background-color: #fff;
}

.menu-line,
.menu:after,
.menu:before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: inline-block;

    width: 22px;
    height: 3px;
    margin: auto;

    transition: transform .5s, visibility .2s;

    background-color: #3a38a7;
}

.menu:after,
.menu:before
{
    content: '';
}

.menu:after
{
    margin-bottom: 10px;
}

.menu:before
{
    margin-top: 10px;
}
